<!DOCTYPE html>
<html>
<head>
    <title>Update Movie</title>
</head>
<body>
    <h1>Edit Movie</h1>
    <form method="post">
        <label for="name">Movie Name:</label>
        <input type="text" name="movie" value="{{ movie.name }}" required>
        <input type="submit" value="Save">

        <label for="director">Director:</label>
        <input type="text" name="director" value="{{ movie.director }}" required><br>

        <label for="year">Year:</label>
        <input type="text" name="year" value="{{ movie.year }}" required><br>

        <label for="rating">Rating:</label>
        <input type="text" name="rating" value="{{ movie.rating }}" required><br>

        <label for="image">Image URL:</label>
        <input type="text" name="image" value="{{ movie.image }}" required><br>

        <input type="submit" value="Update">
    </form>
</body>
</html>




