<!DOCTYPE html>
<html>
<head>
    <title>Movie Search Results</title>
</head>
<body>
    <h1>Movie Search Results</h1>
        {% if movie_data.Response == "True"  %}
            <img src="{{ movie_data['Poster'] }}" alt="{{ movie_data['Title'] }} Poster">
            <ul>
                <li><strong>Title:</strong> {{ movie_data['Title'] }}</li>
                <li><strong>Director:</strong> {{ movie_data['Director'] }}</li>
                <li><strong>Year:</strong> {{ movie_data['Year'] }}</li>
                <li><strong>Rating:</strong> {{ movie_data['imdbRating'] }}</li>
            </ul>
        {% else %}
            <p>No movie data found for the provided title.
                {{ movie_data.Error }}</p>
        {% endif %}
</body>
</html>